<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Products</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<div th:replace="header/mainHeader :: header"></div>

<h1 align="center">List Products</h1>

<div class="container my-2">
    <a th:href="@{/product/newProduct}" class="btn btn-primary btn-sm mb-3"> Add Product </a>

    <form th:method="post" th:action="@{/product/allProduct}" th:object="${newProduct}">
        <table border="1" class="table table-striped table-responsive-md">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:href="@{ ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                        ID</a>
                </th>

                <th>
                    <a th:href="@{ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                        Name</a>
                </th>

                <th>
                    <a th:href="@{${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
                        Description</a>
                </th>

                <th>
                    <a th:href="@{${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
                        Price</a>
                </th>

                <th>
                    <a th:href="@{${currentPage} + '?sortField=category&sortDir=' + ${reverseSortDir}}">
                        Category</a>
                </th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tr th:each=" product : ${allProducts} ">
                <td><a th:text="${product.getId()}"> ID </a></td>
                <td><a th:text="${product.getName()}"> ProductName </a></td>
                <td><a th:text="${product.getDescription()}"> Description </a></td>
                <td><a th:text="${product.getPrice()}"> Price </a></td>
                <td><a th:text="${product.getCategory()}"> Category </a></td>

                <td>
                    <form th:method="post" th:action="@{/product/{id}(id=${product.getId()})}">
                        <input class="btn btn-danger" type="submit" th:value="#{form.delete}">
                    </form>
                </td>

                <td>
                    <form th:method="get" th:action="@{/product/edit/{id}(id=${product.id})}" th:object="${product}">
                        <input class="btn btn-primary" type="submit" th:value="#{form.edit}">
                    </form>
                </td>

                <td>
                    <form th:method="post" th:action="@{/order/{productId}(productId=${product.getId()})}">
                        <input class="btn btn-primary" type="submit" th:value="#{form.addToBasket}">
                    </form>
                </td>

                <!--            <td><a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-primary">Update</a>-->
                <!--                <a th:href="@{/product/{id}(id=${product.getId()})}" class="btn btn-danger">Delete</a>-->
                <!--            </td>-->
            </tr>


        </table>

        <table>
            <th>
                <form th:method="GET" th:action="@{/order/basket}">
                    <input class="btn btn-secondary" type="submit" value="Basket">
                </form>
            </th>




        </table>

        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">

                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>

                <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{ ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{ ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{ ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>

            </div>
        </div>
    </form>
</div>

<div th:replace="header/mainHeader :: footer"></div>
</body>
</html>