<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Orders</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div th:replace="header/mainHeader :: header"></div>

<h2 align="center"> List Orders </h2>

<div class="container my-2">
    <table border="1" class="table table-striped table-responsive-md">
        <thead class="thead-dark">

        <tr>
            <th> Order ID</th>
            <th> User ID</th>
            <th> Date of Purchase</th>
            <th> Purchase Price</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each=" order : ${allOrders} ">
<!--            <td><a th:text="${order.getId()}"> ID </a></td>-->
            <td><a th:text="${order.getCustomer()}"> User ID </a></td>
            <td><a th:text="${order.getDateOfPurchase()}"> Date of Purchase </a></td>
            <td><a th:text="${order.getPurchasePrice()}"> Purchase Price </a></td>

            <td>
                <form th:method="post" th:action="@{/order/{id}(id=${order.getId()})}">
                    <input class="btn btn-danger" type="submit" th:value="#{form.delete}">
                </form>
            </td>

            <td>
                <form th:method="get" th:action="@{/order/edit/{id}(id=${order.id})}" th:object="${order}">
                    <input class="btn btn-primary" type="submit" th:value="#{form.edit}">
                </form>
            </td>
<!--            <th>-->
<!--                <a th:text="${order.getPurchasePrice()}"> Price </a>-->
<!--            </th>-->

        </tr>
        </tbody>
    </table>

    <table>
        <th>
            <form th:method="GET" th:action="@{/}">
                <input class="btn btn-secondary" type="submit" value="Back">
            </form>
        </th>
    </table>


</div>

<div th:replace="header/mainHeader :: footer"></div>
</body>
</html>