<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>

<div th:fragment="header">
    <table>
        <tr>
            <th>
                <form th:method="GET" th:action="@{/}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.home}">
                </form>
            </th>

            <th>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/user/allUsers}">
                    <input class="btn btn-primary"  type="submit" th:value="#{header.form.listUser}">
                </form>
            </th>

            <th>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/role/allRoles}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.listRoles}">
                </form>
            </th>

            <th>
                <form th:method="GET" th:action="@{/user/newUser}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.registrationUser}">
                </form>
            </th>

            <th>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/role/newRole}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.registrationRole}">
                </form>
            </th>

            <th>
                <form th:method="GET" th:action="@{/user/login}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.signIn}">
                </form>
            </th>

            <th>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/product/newProduct}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.addProduct}">
                </form>
            </th>

            <th>
                <form th:method="GET" th:action="@{/product/allProduct}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.listProducts}">
                </form>
            </th>

            <th>
                <form th:method="GET" th:action="@{/order/allOrders}">
                    <input class="btn btn-primary" type="submit" th:value="#{header.form.listOrders}">
                </form>
            </th>

            <th>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/basket}">
                    <input class="btn btn-primary" type="submit" align="right" value="Basket">
                </form>
            </th>

<!--            <th>-->
<!--                <form th:text="${userName}">-->
<!--                </form>-->
<!--            </th>-->

        </tr>
    </table>

</div>

</body>
</html>