<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="product/headerAllProduct :: header"></div>

<div class="container my-2">
    <h1 align="center"> Коризна </h1>

    <table border="1" class="table table-striped table-responsive-md">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th> Name</th>
            <th> Count</th>
            <th> Price</th>
        </tr>
        </thead>

        <tr th:each=" item : ${items} ">
            <td><a th:text="${item.getId().getProductId()}"> ID </a></td>
            <td><a th:text="${item.getProduct().getName()}"> Name </a></td>
            <td><a th:text="${item.getCount()}"> Count </a></td>
            <td><a th:text="${item.getProduct().getPrice()}"> Price </a></td>

        </tr>
    </table>

    <table>
        <th>
            <form th:method="GET" th:action="@{/product/allProduct}">
                <input class="btn btn-secondary" type="submit" th:value="#{form.back}">
            </form>
        </th>
        <th>
            <form th:method="POST" th:action="@{/order/createOrder}">
                <input class="btn btn-secondary" type="submit" value="Buy">
            </form>
        </th>
        <th>
<!--            <a th:text="${order.getPurchasePrice()} ?: 'UNKNOWN'"> Price </a>-->
<!--            <a th:text="${order.getPurchasePrice()}"> Purchase Price </a>-->
            <!--            <a th:text="${order.getId()} ?: 'UNKNOWN'"> Price </a>-->
        </th>
    </table>
</div>


</body>
</html>