<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title> List Users </title>
</head>
<body>
<div th:replace="header/header :: header"> </div>

<h2 align="center"> List Users </h2>
<div>
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Password </th>
            <th> Email</th>
            <th> Age </th>

<!--            <th> Delete</th>-->
<!--            <th> Edit</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each=" user : ${allUsers} ">
            <td><a th:text="${user.getId()}"> ID </a></td>
            <td><a th:text="${user.getName()}"> UserName </a></td>
            <td><a th:text="${user.getPassword()}"> Password </a></td>
            <td><a th:text="${user.getEmail()}"> Email </a></td>
            <td><a th:text="${user.getAge()}"> Age </a></td>

            <td>
                <form th:method="post" th:action="@{/user/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td>
                <form th:method="get" th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}">
                    <input type="submit" value="Edit">
                    <!--                                <button onclick="location.href='/user/edit'"> Edit </button>-->
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <table>
        <th>
            <form th:method="GET" th:action="@{/}">
                <input type="submit" value="Back">
            </form>
        </th>
    </table>

</div>
</body>
</html>