<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.form.registrationRole}">Registration Role</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div th:replace="product/headerAllProduct :: header"></div>
<div>
    <h1 align="center" th:text="#{header.form.registrationRole}"> Registration Role </h1>
    <form th:method="post" th:action="@{/role}" th:object="${newRole}">

        <div>
            <br>
            <label for="roleName" th:text="#{table.name1}"> Name: </label>
            <input type="text" th:field="*{name}" id="roleName">
        </div>

        <table>
            <th>
                <input type="submit" th:value="#{form.create}">
            </th>
        </table>
    </form>

    <table>
        <th>
            <form th:method="GET" th:action="@{/role/allRoles}">
                <input type="submit" th:value="#{header.form.listRoles}">
            </form>
        </th>

        <th>
            <form th:method="GET" th:action="@{/}">
                <input type="submit" th:value="#{form.back}">
            </form>
        </th>

    </table>
</div>

<div th:replace="product/headerAllProduct :: footer"></div>
</body>
</html>