<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Role</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div th:replace="header/mainHeader :: header"></div>
<div>
    <h1 align="center"> Edit Role </h1>
    <form action="#" th:action="@{/role/update}" th:object="${role}" method="post">

        <div>
            <table>
                <th>
                <label for="id"> ID: </label>
                <input readonly type="number" th:field="*{id}" id="id">
                </th>

                <th>
                    <label for="roleName"> Name: </label>
                    <input type="text" th:field="*{name}" id="roleName">
                </th>
            </table>
        </div>
        <input type="submit" value="Edit">
    </form>
</div>

<div th:replace="header/mainHeader :: footer"></div>
</body>
</html>