<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="header/header :: header"> </div>

<h2 align="center"> List Products </h2>
<div>
    <table>
        <th>
<!--            <img th:src="@{/resources/static/img/phone.png}"/>-->

<!--            <img src="../static/img/phone.png" height="200" width="200" th:src="@{img/phone.png}"/>-->

            <img th:src="web/phone.png" height="200" width="200"/>

        </th>
    </table>
</div>

</form>
</body>
</html>